/DataCenter-Admin-common/.project
/DataCenter-Admin-common/.settings
/DataCenter-Admin-common/target
/DataCenter-Admin-common/.classpath
/DataCenter-Admin-test-service/.project
/DataCenter-Admin-test-service/.settings
/DataCenter-Admin-test-service/target
/DataCenter-Admin-test-service/.classpath
/.project
/.settings
/DataCenter-Admin-biz-service/.project
/DataCenter-Admin-biz-service/.settings
/DataCenter-Admin-biz-service/target
/DataCenter-Admin-biz-service/.classpath
/propertyRight-Admin-Biz/propertyRight-Admin-biz-service/.project
/propertyRight-Admin-Biz/propertyRight-Admin-biz-service/.settings
/propertyRight-Admin-Biz/propertyRight-Admin-common/.project
/propertyRight-Admin-Biz/propertyRight-Admin-common/.settings
/propertyRight-Admin-Biz/propertyRight-Admin-biz-service/.classpath
/propertyRight-Admin-Biz/propertyRight-Admin-common/.classpath

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# About IntelliJ
*.iml
*.iws
*.ipr
/.idea/
/out/
.idea/*

.gradle/*
build/
#
out/

gradlew
gradlew.bat
sh.exe.stackdump


etop-propertyRight-admin.iws
/httpRequests/
/target/
/deploy
deploy/
/Build
/IntelliJ
/OS
/Plugin
/Runtime
/VM

*.yml

resources
